@font-face {
    font-family: bold;
    src: url(assets/fonts/static/WorkSans-Bold.ttf);
}
@font-face {
    font-family: semi-bold;
    src: url(assets/fonts/static/WorkSans-SemiBold.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(275, 100%, 97%);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

h1{
    display: inline;
    font-family: bold;
}
#bkg-img{
    width: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 85vw;
    max-width: 700px;
    padding: 1rem;
    padding-bottom: 1.3rem;
    position: relative;
}
.heading{
    height: 10%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
#star{
    width: 7%;
    display: inline;
    padding-right:5%;
}
.q{
    font-family: semi-bold;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
    cursor: pointer;
}
.ans{
    color:black;
    opacity: 70%;
    margin: 5px 0;
    display: none;
}

#line{
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 10%;
    border-radius: 10px;
    margin-top:10px;
}
.attribution { 
    font-size: 14px;
    margin: 10px;
    text-align: center;
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%);

}
#minus{
    display: none;
}

@media (max-width:715px){
    html{
        font-size: 14px;
    }
    .container{
        width:85vw;
    }
    .attribution{
        font-size: 12px;
    }
}